.about .table_returns {
	width: 400px;
	font-size: 14px;
}

.about .table_head th {
	text-align: center;
}
.about .table_div {
	
}
.about .table_returns tbody tr td {
	padding: 20px;
}
.about .table_returns thead tr th {
	padding: 10px;
}
.about .table_div {
	padding-left: 20px;
}